main section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* main section img{
    width: 600px;
    height: 610px;
    margin-right: 10vw;
    animation: float 2.5s ease-in-out infinite;
} */
main section div.img{
    background-image: url('/assets/img/realistic_phone-removebg-preview.png');
    background-image: url('/assets/img/bg_home1.png');
    background-size: contain;
    width: 45vw;
    background-repeat: no-repeat;
}
main section article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main section article div{
    width: 35vw;
    margin: 1.5vh 0 5vh 0;
}
main section article div p{
    margin: 3vh 0;
    letter-spacing: 2px;
}
main section article div div:last-child{
    border: solid 1px #3e3f46;
    width: fit-content;
    padding: 1.5vh 5vh;
    border-radius: 2rem;
    cursor: pointer;
}