<main>
    <section>
        <article>
            <h1> Experiences </h1>
            <div>
                <h2> Gally lth iadud </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat velit sit amet tortor rutrum laoreet. 
                    Donec sed porta purus, in porta erat. Maecenas iaculis, eros at ullamcorper accumsan, eros dui
                </p>
                <div> VOIR INFOS </div>
            </div>

            <div>
                <h3> Gally lth iadud </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat velit sit amet tortor rutrum laoreet. 
                    Donec sed porta purus, in porta erat. Maecenas iaculis, eros at ullamcorper accumsan, eros dui elementum augue, 
                    vitae congue ante arcu ac velit. Nunc at quam felis. Maecenas ante diam, feugiat in nisi sed, finibus egestas
                </p>
                <div> VOIR INFOS </div>
            </div>
        </article>
        <img src='/assets/img/phonev3-removebg-preview.png' alt="moving phone"/>
    </section>
</main>