<main>
    <section>
        <article>
            <h1> Présentation </h1>
            <div>
                <h2> Développeur Web </h2>
                <p>
                    RNCP niveau VI équivalents Bac+3 : <br>
                    - Developpeur en intelligence artificielle<br>
                    - Developpeur en réalisation d'application web
                </p>
                <div> VOIR INFOS </div>
            </div>
        </article>
        <img src='/assets/img/phonev3-removebg-preview.png' alt="moving phone"/>
    </section>
    <section>
        <article>
            <pdf-viewer [src]="pdfSrc"></pdf-viewer>
        </article>
    </section>
</main>