<main>
    <section>
        <article>
            <h1> Experiences </h1>
            <div>
                <h2> Diplomes </h2>
                <p>
                    RNCP niveau VI équivalents Bac+3 : <br>
                    - Developpeur en intelligence artificielle<br>
                    - Stack technique : Python, Keras, Tensorflow, Flask, Agile, Numpy, Pandas, Matplotlib
                    <br>
                    <br>
                    RNCP niveau V équivalents Bac+2 : <br>
                    - Developpeur & integrateur en réalisation d'application web<br>
                    - Stack technique : Html, Css, Javascript, Jquery, Ajax, Php, Sql, Boostrap
                </p>
                <div> VOIR INFOS </div>
            </div>
        </article>
        <img src='/assets/img/phonev3-removebg-preview.png' alt="moving phone"/>
    </section>
    <section>
        <article>
            <pdf-viewer [src]="pdfSrc"></pdf-viewer>
        </article>
    </section>
</main>