<main>
    <section>
        <article>
            <h1> Languages </h1>
            <div>
                <div class="card">
                    <div class="lines "></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>Html</h2>
                            <h4>Utilisation: Professionnel</h4>
                            <div class="data">
                                <p>Création de gabarit de page, SEO</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines "></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>Css</h2>
                            <h4>Utilisation: Professionnel</h4>
                            <div class="data">
                                <p>Variable, animations, responsive</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines "></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>Javascript</h2>
                            <h4>Utilisation: Professionnel</h4>
                            <div class="data">
                                <p>Json, localstorage, animation</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines high"></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>AngularJs</h2>
                            <h4>Utilisation: Professionnel</h4>
                            <div class="data">
                                <p>Création de gabarit de page site d'inscription</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines "></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>Python</h2>
                            <h4>Utilisation: Professionnel</h4>
                            <div class="data">
                                <p>Data Annalise, Django, IA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines medium"></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>Sql</h2>
                            <h4>Utilisation: Professionnel</h4>
                            <div class="data">
                                <p>Requête sql</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines medium"></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>Php</h2>
                            <h4>Utilisation: Professionnel</h4>
                            <div class="data">
                                <p>MVC, Formulaire</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines low"></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>Typescript</h2>
                            <h4>Utilisation: Autodidact</h4>
                            <div class="data">
                                <p>Mise en application via le framework Angular</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines low"></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>Angular</h2>
                            <h4>Utilisation: Autodidact</h4>
                            <div class="data">
                                <p>Angular Version 15</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines low"></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>VueJs</h2>
                            <h4>Utilisation: Professionnel</h4>
                            <div class="data">
                                <p>Sans componsant</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines unknow"></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>Reactjs</h2>
                            <h4>Utilisation: Inconnue</h4>
                            <div class="data">
                                <p>Pas encore utilisé en cours de découverte</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines unknow"></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>NodeJs</h2>
                            <h4>Utilisation: Inconnue</h4>
                            <div class="data">
                                <p>Pas encore utilisé en cours de découverte</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines unknow"></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>NuxtJs</h2>
                            <h4>Utilisation: Inconnue</h4>
                            <div class="data">
                                <p>Pas encore utilisé en cours de découverte</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="lines unknow"></div>
                    <!-- <div class="imgBx">
                        <img src="../../../assets/img/HTML5.png">
                    </div> -->
                    <div class="content">
                        <div class="details">
                            <h2>NextJs</h2>
                            <h4>Utilisation: Inconnue</h4>
                            <div class="data">
                                <p>Pas encore utilisé en cours de découverte</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>