<main>
    <section>
        <article>
            <h1> Languages </h1>
            <div>
                <div>
                    <h2> Front-End </h2>
                    <ul>
                        <li><span class="lg_logo_html"></span><p>Html</p></li>
                        <li><span class="lg_logo_css"></span><p>Css</p></li>
                        <li><span class="lg_logo_js"></span><p>Javascript</p></li>
                        <li><span class="lg_logo_ngjs"></span><p>AngularJs</p></li>
                        <li><span class="lg_logo_vue"></span><p>VueJs</p></li>
                    </ul>
                </div>
                <div>
                    <h2> Back-End </h2>
                    <ul>
                        <li><span class="lg_logo_php"></span><p>Php</p></li>
                        <li><span class="lg_logo_python"></span><p>Python</p></li>
                        <li><span class="lg_logo_sql"></span><p>Sql</p></li>
                        <li><span class="lg_logo_django"></span><p>Django</p></li>
                    </ul>
                </div>
                <div>
                    <h2> Autodidact </h2>
                    <ul>
                        <li><span class="lg_logo_ng"></span><p>Angular</p></li>
                        <li><span class="lg_logo_vue"></span><p>VueJs</p></li>
                        <li><span class="lg_logo_docker"></span><p>Docker</p></li>
                    </ul>
                </div>
                <div>
                    <h2> Outils </h2>
                    <ul>
                        <li><span class="lg_logo_postman"></span><p>Postman</p></li>
                        <li><span class="lg_logo_github"></span><p>Github</p></li>
                        <li><span class="lg_logo_agile"></span><p>Agile</p></li>
                    </ul>
                </div>
            </div>
        </article>
    </section>
</main>