@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');


main section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main section article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%
}
main section article div{
    margin: 1rem 0 2rem 0;
}
main section article > div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
main section article div p{
    letter-spacing: 2px;
}
main section article div ul{
    text-decoration: none;
    font-weight: 600;
    width: 20vw;
    min-width: 200px;
    text-transform: uppercase;
}
main section article div ul li{
    display: flex;
    border: solid 1px #666;
    align-items: center;
    border-radius: 5px;
    margin: 1rem 0;
    position: relative;
    background: #ffffff;
}
main section article div ul li span {
    background: linear-gradient(
        to right,
        #20c960,
        #2d998f
    );
    min-height: 50px;
    align-self: center;
    width: 50px;
    margin-right: 2rem;
    border-radius: 2px;
}
/*Bookmark*/

.ribbon-bookmark.ribbon-top {
    padding-right: 0;
    padding-bottom: 0.25rem;
    padding-left: 0;
    border-radius: 0 5px 0 0;
}
.ribbon.bg-green {
    border-color: #4c7b80;
}
.ribbon-top {
    right: 0.75rem;
}
.ribbon:before {
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    filter: brightness(70%);
}
.ribbon-top:before {
    top: 0;
    right: 100%;
    bottom: auto;
    border-color: inherit;
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-bookmark.ribbon-top:after {
    top: 100%;
    right: 0;
    left: 0;
    border-color: inherit;
    border-width: 1rem;
    border-top-width: 0;
    border-bottom-color: transparent;
    border-bottom-width: 0.5rem;
}
.ribbon-bookmark:after {
    position: absolute;
    top: 0;
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 1rem solid;
}

.ribbon {
    position: absolute;
    top: -17px;
    z-index: 1;
    padding: 0.25rem 0.75rem;
    font-size: .625rem;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #4c7b80;
    width: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
    min-width: 2rem;
}
@media screen and (max-width: 1920px) {
    main h2 { font-size: 1.8rem; }
    main section article div ul{ width: 20vw; }
}
@media screen and (max-width: 920px) {
    main section article > div {
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    main section article > div {
        flex-direction: column;
    }
    main section article div ul {
        width: unset;
        min-width: unset;
    }
}

