@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');


main section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main section article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%
}
main section article div{
    margin: 1rem 0 2rem 0;
}
main section article > div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
main section article div p{
    letter-spacing: 2px;
}
main section article div ul{
    text-decoration: none;
    font-weight: 600;
    width: 15vw;
    text-transform: uppercase;
}
main section article div ul li{
    display: flex;
    border: solid 1px #666;
    align-items: center;
    border-radius: 5px;
    margin: 1rem 0;
    background: #ffffff;
}
main section article div ul li span {
    background-color: #2e3133;
    min-height: 50px;
    align-self: center;
    width: 50px;
    margin-right: 2rem;
    border-radius: 2px;
}
