<main>
    <section>
        <article>
            <h1> Crash & Test </h1>
            <div class="scene">
                <div class="cube" [ngClass]="changeSide()">
                   <div class="cube__face cube__face--front" id="front"></div>
                   <div class="cube__face cube__face--top" id="top"></div>
                   <div class="cube__face cube__face--left" id="left">
                        <div class="fog"></div>
                    </div>
                    <div class="cube__face cube__face--bottom" id="bottom"></div>
                   <div class="cube__face cube__face--back" id="back"></div>
                   <div class="cube__face cube__face--right" id="right">
                        <div class="fog"></div>
                   </div> 
               </div>
           </div>
            <div>
                <h2> Assistance </h2>
                <div class="chat-container">
                    <div>
                        <video autoplay src="../../../assets/img/avatar_ia/presentation_cortana.mp4">IA vidéo généré par D-ID</video>
                    </div>
                    
                    <div *ngFor="let message of messages">
                        <div [ngClass]="{'user-message': message.type === 'user', 'bot-message': message.type === 'bot'}">
                            {{message.text}}
                        </div>
                    </div>
                  
                    <div class="chat-input">
                      <input [(ngModel)]="question" type="text" placeholder="Posez une question...">
                      <button (click)="sendMessage()">Envoyer</button>
                    </div>
                </div>              
            </div>

            <div>
                <h3> Information d'utilisation </h3>
                <p>
                    N'hésitez pas à poser des questions sur mon parcours.<br>
                    Exemple : "Qui est didier jeremy"<br>
                    Cette IA n'a pas n'est pas de ma réalisation il s'agit de l'api de ChatGpt
                </p>
            </div>
        </article>
        <ul>
            <li (click)="changeSide('html')" style='--i:9;'><a>html</a></li>
            <li (click)="changeSide('css')" style='--i:8;'><a>css</a></li>
            <li (click)="changeSide('js')" style='--i:7;'><a>Javascript</a></li>
            <li (click)="changeSide('angularJs')" style='--i:6;'><a>AngularJs</a></li>
            <li (click)="changeSide('angular')" style='--i:5;'><a>Angular</a></li>
            <li (click)="changeSide('vue')" style='--i:4;'><a>Vue</a></li>
            <li (click)="changeSide('php')" style='--i:3;'><a>Php</a></li>
            <li (click)="changeSide('python')" style='--i:2;'><a>Python</a></li>
            <li (click)="changeSide('django')" style='--i:1;'><a>Django</a></li>
        </ul>
       
    </section>
</main>