<main>
    <section>
        <article>
            <h1> Crash & Test </h1>
            <div class="scene">
                <div class="cube" [ngClass]="changeSide()">
                   <div class="cube__face cube__face--front" id="front"></div>
                   <div class="cube__face cube__face--top" id="top"></div>
                   <div class="cube__face cube__face--left" id="left">
                        <div class="fog"></div>
                    </div>
                    <div class="cube__face cube__face--bottom" id="bottom"></div>
                   <div class="cube__face cube__face--back" id="back"></div>
                   <div class="cube__face cube__face--right" id="right">
                        <div class="fog"></div>
                   </div> 
               </div>
           </div>
            <div>
                <h2> Gally lth iadud </h2>
                <div class="chatbox">
                    <div *ngFor="let message of messages">
                      <div class="message" *ngIf="message.type === 'user'">{{ message.text }}</div>
                      <div class="message" *ngIf="message.type === 'bot'">{{ message.text }}</div>
                    </div>
                    <div class="input">
                      <input type="text" [(ngModel)]="question" placeholder="Posez une question...">
                      <button (click)="sendMessage()">Envoyer</button>
                    </div>
                  </div>                  
            </div>

            <div>
                <h3> Back-End </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat velit sit amet tortor rutrum laoreet. 
                    Donec sed porta purus, in porta erat. Maecenas iaculis, eros at ullamcorper accumsan, eros dui elementum augue, 
                    vitae congue ante arcu ac velit. Nunc at quam felis. Maecenas ante diam, feugiat in nisi sed, finibus egestas
                </p>
            </div>
        </article>
        <ul>
            <li (click)="changeSide('html')" style='--i:9;'><a>html</a></li>
            <li (click)="changeSide('css')" style='--i:8;'><a>css</a></li>
            <li (click)="changeSide('js')" style='--i:7;'><a>Javascript</a></li>
            <li (click)="changeSide('angularJs')" style='--i:6;'><a>AngularJs</a></li>
            <li (click)="changeSide('angular')" style='--i:5;'><a>Angular</a></li>
            <li (click)="changeSide('vue')" style='--i:4;'><a>Vue</a></li>
            <li (click)="changeSide('php')" style='--i:3;'><a>Php</a></li>
            <li (click)="changeSide('python')" style='--i:2;'><a>Python</a></li>
            <li (click)="changeSide('django')" style='--i:1;'><a>Django</a></li>
        </ul>
       
    </section>
</main>