main section article>div{
    width: 35vw;
    margin: 1rem 0 4rem 0;
}
main section article div p{
    letter-spacing: 2px;
    margin: 2rem 0;
}
main section article div div.btn_fake{
    border: solid 1px var(--text_color);
    width: fit-content;
    padding: 1rem 4rem;
    border-radius: 2rem;
    cursor: pointer;
}
/*Nav isometric*/
ul{
    position: relative;
    transform: skewY(-15deg);
    transition: 0.5s;
    margin-top: 10vh;
}

ul li::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
    left: -40px;
    background-color: var(--lightblack_color);
    transform-origin: right;
    transform: skewY(45deg);
}

ul li:hover::before{
    background-color: var(--primaryShadow_color);
}

ul li:hover::after{
    background-color: var(--primary_color);
}

ul li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    top: -40px;
    left: -20px;
    background-color: var(--lightblack_color);
    transform-origin: right;
    transform: skewX(45deg);
    transition: 0.5s;
}

ul li{
    position: relative;
    list-style: none;
    width: 200px;
    cursor: pointer;
    background-color: var(--text_color);
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul li:hover{
    background-color: var(--primary_color);
    transform: translateX(-50px);
}

ul li a{
    text-decoration: none;
    color: var(--white_color);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

ul li:hover a{
    color: var(--white_color);
}

ul li:last-child::after{
    box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}

/*Chatbox*/
/* Style de la zone de chat */
.chat-container {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #F2F2F2;
    padding: 10px;
}

.chat-container div {
    display: flex;
    font-family: system-ui;
}

.chat-container video {
    border-radius: 50%;
    width: 10rem;
    margin: 0 auto;
}

/* Style des messages de l'utilisateur */
.chat-container .user-message {
    background-color: #E0F2F1;
    border-radius: 10px;
    color: #000000;
    display: inline-block;
    font-size: 16px;
    max-width: 80%;
    padding: 10px;
    margin: 10px;
}

/* Style des messages de l'assistant */
.chat-container .bot-message {
    background-color: #B2DFDB;
    border-radius: 10px;
    color: #000000;
    display: inline-block;
    font-size: 16px;
    max-width: 80%;
    padding: 10px;
}

/* Style de la zone de saisie de texte */
.chat-input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #F2F2F2;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.chat-input input {
    border: none;
    width: 100%;
    outline: 0;
}

.chat-input input {
    box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.25);
    font-size: 1.5em;
    font-family: system-ui;
}
/* Style du bouton d'envoi */
.chat-input button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}
  
  
/*Cube isometric*/

/* Cube */
main section article div.scene {
    width: 20vw;
    height: 10vw;
    -webkit-perspective: 2000px;
            perspective: 2000px;
    margin-right: 10vw;
}
.cube {
    width: 20vw;
    height: 10vw;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.cube.show-front  { -webkit-transform: translateZ(-100px) rotateY(   0deg); transform: translateZ(-100px) rotateY(   0deg); transform-style: preserve-3d;}
.cube.show-right  { -webkit-transform: translateZ(-100px) rotateY( -90deg); transform: translateZ(-100px) rotateY( -90deg); transform-style: preserve-3d;}
.cube.show-back   { -webkit-transform: translateZ(-100px) rotateY(-180deg); transform: translateZ(-100px) rotateY(-180deg); transform-style: preserve-3d;}
.cube.show-left   { -webkit-transform: translateZ(-100px) rotateY(  90deg); transform: translateZ(-100px) rotateY(  90deg); transform-style: preserve-3d;}
.cube.show-top    { -webkit-transform: translateZ(-100px) rotateX( -90deg); transform: translateZ(-100px) rotateX( -90deg); transform-style: preserve-3d;}
.cube.show-bottom { -webkit-transform: translateZ(-100px) rotateX(  90deg); transform: translateZ(-100px) rotateX(  90deg); transform-style: preserve-3d;}

.cube__face--back, .cube__face--front, .cube__face--top, .cube__face--bottom {
    position: absolute;
    width: 20vw;
    height: 10vw;
    border: 2px solid var(--black_color);
    line-height: 500px;
    font-size: 40px;
    font-weight: bold;
    color: var(--white_color);
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transform-style: preserve-3d;
}
.cube__face--left,.cube__face--right{
    position: absolute;
    width: 10vw;
    height: 10vw;
    border: 2px solid var(--black_color);
    line-height: 500px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
    transform-style: preserve-3d;
}

.cube__face--front{ background-image:url('/assets/img/html-css.jpg'); background-size: cover;}

.cube__face--right{
    background-image:url('/assets/img/js.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
}

.cube__face--back{ background-image:url('/assets/img/php.png');background-size: cover;}

.cube__face--left{ 
    background-image:url('/assets/img/php_logo.png');
    background-position: center;
    background-size:  cover;
    background-repeat: no-repeat;
    left:0;
}

.cube__face--top    { background-image:url('/assets/img/php.png');background-size: cover; }
.cube__face--bottom { background-image:url('/assets/img/angular_cube_front.png'); background-size: cover;}

.cube__face--front  { -webkit-transform: rotateY(  0deg) translateZ(5.0vw); transform: rotateY(  0deg) translateZ(5.0vw); }
.cube__face--right  { -webkit-transform: rotateY( 90deg) translateZ(5.0vw); transform: rotateY( 90deg) translateZ(5.0vw); }
.cube__face--back   { -webkit-transform: rotateY(180deg) translateZ(5.0vw); transform: rotateY(180deg) translateZ(5.0vw); }
.cube__face--left   { -webkit-transform: rotateY(-90deg) translateZ(5.0vw); transform: rotateY(-90deg) translateZ(5.0vw); }
.cube__face--top    { -webkit-transform: rotateX( 90deg) translateZ(5.0vw); transform: rotateX( 90deg) translateZ(5.0vw); }
.cube__face--bottom { -webkit-transform: rotateX(-90deg) translateZ(5.0vw); transform: rotateX(-90deg) translateZ(5.0vw); }


