footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto 6vw;
    text-align: center;
}
app-footer{
    margin-top: auto;
    margin-bottom: 20px;
}
footer div{
    width: 15vw;
    font-size: small;
}
footer div div p{
    text-transform: none;
    font-weight: 600;
}
footer div:nth-last-child(2) h4{
    color: var(--primary_color);
    font-weight: 600;
}
footer div div, footer div h4,h3{
    text-transform: uppercase;
    font-weight: 900;
}
footer div h4{
    margin: 1.5rem 0;
    cursor: pointer;
}
footer div div:last-child{
    color: var(--primary_color);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1.5rem;
}

@media screen and (max-width: 980px) {
    footer div h4,footer div div, footer div div p{
        display: none;
    }
    footer div h3{
        font-size: 0.7rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    footer{
        flex-wrap: wrap;
    }
    footer div {
        width: unset;
    }
}