<footer>
    <div>
        <img src=''/>
        <h3> Home Page </h3>
        <h4> Une page d'accueil 🏠 </h4>
        <p>
            Page d'accueil d'accord, mais désolé ici, on ne sert pas le café en revanche, vous pouvez toujours vous amuser 🎮
        </p>
        <div> truc muche </div>
    </div>

    <div>
        <img src=''/>
        <h3> Languages Page </h3>
        <h4> Un accès vers mes neuronnes 🧠 </h4>
        <p>
            Un accès vers mes connaissances, peut-être serrez-vous les prochains qui m'entraineront vers une croissance neuronale via la découverte de nouveau langage ou technologies
        </p>
        <div> truc muche </div>
    </div>

    <div>
        <img src=''/>
        <h3> Experiences Page </h3>
        <h4> Un savoir faire, un developpement ⛏</h4>
        <p>
            Des souvenirs, de l'xp gagner via des actions répété 🗡, j'ai bien level up depuis mes débuts, de quoi pouvoir vaincre certains boss
        </p>
        <div> truc muche </div>
    </div>

    <div>
        <img src=''/>
        <h3> Crash & Test Page </h3>
        <h4> Un peu d'amusement personnel </h4>
        <p>
            Ça l'air sympa oui, mais pourquoi faire ? .. pas grand-chose, mais regard ça bouge 🤪 
        </p>
        <div> truc muche </div>
    </div>
  </footer>