<footer>
    <div>
        <img src=''/>
        <h3 routerLink="home"> Home </h3>
        <h4> Une page d'accueil 🏠 </h4>
        <div>
            <p>
                Page d'accueil d'accord, mais désolé ici, on ne sert pas le café en revanche, vous pouvez toujours faire une petite partie  🎮
            </p>
            <div> truc muche </div>
        </div>
    </div>

    <div>
        <img src=''/>
        <h3 routerLink="languages"> Languages </h3>
        <h4> Un accès vers mes neuronnes 🧠 </h4>
        <div>
            <p>
                Un accès vers mes connaissances, peut-être serrez-vous les prochains qui m'entraineront vers une croissance neuronale
            </p>
            <div> truc muche </div>
        </div>
    </div>

    <div>
        <img src=''/>
        <h3 routerLink="experiences"> Experiences </h3>
        <h4> Un savoir faire, un developpement ⛏</h4>
        <div>
            <p>
                Des souvenirs, de l'xp gagner via des actions répété 🗡, j'ai bien level up depuis mes débuts, de quoi pouvoir vaincre certains boss
            </p>
            <div> truc muche </div>
        </div>
    </div>

    <div>
        <img src=''/>
        <h3 routerLink="crash"> Crash & Test </h3>
        <h4> Un peu d'amusement personnel </h4>
        <div>
            <p>
                Ça l'air sympa oui, mais pourquoi faire ? .. pas grand-chose, mais regard ça bouge 🤪 
            </p>
            <div> truc muche </div>
        </div>
    </div>
  </footer>